# macOS system files
.DS_Store

# IDE / editor files
*.iml
*.idea/
*.vscode/
target/

# Logs
*.log

# Temporary or dump files
database-dumps/
deploy/mysql/init/
tmp/
*.tmp

# Backend
app-backend/.idea/
app-backend/target/

# Frontend
app-frontend/dist/
app-frontend/node_modules/

# Environment / secret files
deploy/docker/*.env