version: "3.8"

services:

  mysql:
    image: mysql:8.0
    container_name: mysql8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydb
      TZ: Asia/Shanghai
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql

