services:
  mysql:
    image: mysql:8
    ports:
      - "3307:3306"
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - mysql_data:/var/lib/mysql
      - "/Users/franklin/Projects/web-ai/deploy/mysql/init:/docker-entrypoint-initdb.d"
    networks:
      - web-ai-net

  backend:
    image: eclipse-jre-21
    environment:
      OSS_ACCESS_KEY_ID: ${OSS_ACCESS_KEY_ID}
      OSS_ACCESS_KEY_SECRET: ${OSS_ACCESS_KEY_SECRET}
    build: 
      context: ../..
      dockerfile: deploy/docker/Dockerfile
    ports:
      - "8081:8080"
    networks:
      - web-ai-net
    restart: always

  frontend:
    image: "nginx:stable-bookworm-perl"
    ports:
      - "90:80"
    volumes:
      - "../../app-frontend/dist:/usr/share/nginx/html"
      - "../nginx/nginx.conf:/etc/nginx/nginx.conf"
    networks:
      - web-ai-net

networks:
  web-ai-net:
    external: true

volumes:
  mysql_data:
