<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.franklin.mapper.StudentMapper">

    <select id="getPage" resultType="com.franklin.entity.Student">
        select * from student
        <where>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="degree != null">degree = #{degree},</if>
            <if test="clazzId != null">clazz_id = #{clazzId}</if>
        </where>
    </select>
    <select id="get" resultType="com.franklin.entity.Student">
        select * from student where id = #{id}
    </select>

    <insert id="create">
        insert into student(name,no,gender,phone,id_card,is_college,address,degree,graduation_date,clazz_id,create_time,update_time)
        values (#{name},#{no},#{gender},#{phone},#{idCard},#{isCollege},#{address},#{degree},#{graduationDate},#{clazzId},NOW(),NOW())
    </insert>


    <update id="update">
        update student
        <set>
            <if test="name != ''">name = #{name},</if>
            <if test="no != ''">no = #{no},</if>
            gender = #{gender},
            <if test="phone != ''">phone = #{phone},</if>
            degree = #{degree},
            clazz_id = #{clazzId},
            violation_count = #{violationCount},
            violation_score = #{violationScore},

            <!--Optional-->
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="address!= null and address != ''">address = #{address},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            update_time = NOW()
        </set>
        where id = #{id}
    </update>
    <update id="updateViolation">
        update student
        <set>
            violation_score = violation_score + #{score},
            violation_count = violation_count + 1
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from student
        where id = #{id}
    </delete>

    <!--Helper methods-->
    <select id="existsByClazzId" resultType="java.lang.Boolean">
        select exists(
            select 1 from student where clazz_id = #{clazzId})
    </select>

    <select id="existsById" resultType="java.lang.Boolean">
        select exists(
        select 1 from student where id = #{id})
    </select>

    <select id="existsByName" resultType="java.lang.Boolean">
        select exists(
            select 1 from student where name = #{name})
    </select>
    <select id="getName" resultType="java.lang.String">
        select name from student where id = #{id}
    </select>

</mapper>