<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.franklin.mapper.ReportMapper">
    <!--SELECT Emp Job Data-->
    <select id="getEmpJobData" resultType="java.util.Map">
        select (case job when 1 then '班主任'
            when 2 then '讲师'
            when 3 then '学工主管'
            when 4 then '教研主管'
            when 5 then '咨询师'
            else '其他' end) as pos,
            count(*) as num
        from emp
        group by job
        order by num
    </select>

    <!--SELECT Emp Gender Data-->
    <select id="getEmpGenderData" resultType="com.franklin.dto.GenderOptionDTO">
        select (case gender when 1 then '男性员工'
                            when 2 then '女性员工'
                            else '未知' end) as name,
                count(*) as value
        from emp
        group by gender
        order by value
    </select>
    <select id="fetchStudentCount" resultType="java.util.Map">
        select c.name as name,count(*) as num
        from student s left join clazz c on s.clazz_id = c.id
        group by s.clazz_id
        order by num
    </select>
    <select id="fetchStudentDegree" resultType="com.franklin.dto.StudentDegreeDTO">
        select (case degree
                    when 1 then '初中'
                    when 2 then '高中'
                    when 3 then '大专'
                    when 4 then '本科'
                    when 5 then '硕士'
                    when 6 then '博士'
                    else '其他'
                end) as name,
                count(*) as value
        from student
        group by degree
        order by value
    </select>

</mapper>